body {
    margin: 0px;
    overflow: hidden;
    touch-action: manipulation;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 1px 4px black;
}

/* Helper Classes */
.flex {
    display: flex;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-display {
    display: none;
}
.absolute {
    position: absolute;
}

/* Footer */
footer {
    padding-left: 28px;
    padding-right: 28px;
    justify-content: space-between;
    background-color: black;
    margin-top: auto;
    height: 50px;
}

/* Main Content */
.content {
    background: url(../img/backgrounds/background-blue.png);
}
.content-heading {
    font-size: 50px;
    margin: 3px;
    display: flex;
}
.filter {
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
}
/* Cookie */
.cookie-content {
    flex-direction: column;
    align-items: center;
}
.cookie {
    margin-top: 80px;
    margin-bottom: 12px;
    width: 85%;
    height: 85%;
}
.cookie-counter-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
}
.cookie-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    text-shadow: 0px 1px 4px black;
}
.cookies-per-second-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    text-shadow: 0px 1px 4px black;
}
/* Store */
.store-content {
    align-items: center;
    flex-direction: column;
}
/* Buildings */
.buildings-marker {
    margin-top: 5px;
    margin-bottom: 9px;
}
.building-grid {
    display: grid;
}
.building {
    width: 100vw;
    height: 66px;
    background-color: rgb(217, 215, 165);
}
.building-content {
    display: inline-block;
    margin-left: 4px;
}
.building-icon {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 3px;
}
.building-name {
    font-size: 22px;
    line-height: 1px;
    margin-bottom: 0px;
}
.buildings-bought {
    font-size: 35px;
    margin: 12px 13px 0px 0px;
    font-family: monospace;
    float: right;
}
.building-price {
    margin-top: 11px;
    margin-left: 0.6px;
}

.keyboard-icon {
    background-image: url(../img/keyboard-icon.png);
}
/* Statistics */
.stats-content {
    flex-direction: column;
}
.stats-heading-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.stats-text {
    margin-left: 7px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}