/* basic basis for most html elements */
body {
    margin: 0px;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    touch-action: manipulation
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 3px;
    color: white;
    text-shadow: 0px 1px 4px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 4px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

a {
    font-weight: bold;
    color: white;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

small {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
}

/* helper classes (in early development) */
.no-display {
    display: none;
}
.pointer {
    cursor: pointer;
}
.red {
    color: red;
}
.absolute {
    position: absolute;
}

/* important things */
.leftSide {
    width: 312px;
    height: 100vh;
    border-style: solid;
    border-width: 0px 8px 0px 0px;
    border-color: rgb(121, 77, 46);
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrounds/background-blue.png);
}

.rightSide {
    width: 338px;
    float: right;
    height: 100vh;
    border-style: solid;
    border-width: 0px 0px 0px 8px;
    border-color: rgb(121, 77, 46);
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrounds/background-blue.png);
}

.middle {
    -webkit-flex: auto;
    flex: auto;
    height: 100vh;
    background: url(img/backgrounds/background-blue.png);
}

.cookie {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 257px;
    height: 257px;
}

.cookie-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 4px black;
}

.cookies-per-second-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    color: white;
    text-shadow: 0px 1px 4px black;
}

.cookie-counter-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
}

.middle-buttons {
    display: flex;
    flex: auto;
    height: 100px;
    background-image: url(img/backgrounds/background-blue.png);
    border-style: solid;
    border-color: rgb(121, 77, 46);
    border-width: 0px;
    border-bottom-width: 8px;
}

.version-number {
    position: absolute;
    left: 50px;
    top: 9.5px;
    margin: 0px;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-family: monospace;
    text-shadow: 0px 1px 4px black;
}

.version-switch-info {
    border-style: solid;
    border-width: 3px;
    position: absolute;
    width: 112px;
    height: 45px;
    display: none;
    bottom: 30px;
    left: 48px;
    font-size: 10px;
    background-color: rgb(255, 243, 209);
}


/* divs */
.buildings {
    float: right;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.upgrades-holder {
    width: 338px;
    height: 64px;
}

.upgrade-name {
    margin: 2px;
    color: black;
}
.upgrade-price{
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;
}
.upgrade-desc {
    margin: 2px;
    color: black;
}

/* thing that displays upgrade info */
.upgrade-viewer {
    display: block;
    width: 248px;
    height: 148px;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    margin: 0px;
    display: none;
    -webkit-flex: auto;
    flex: auto;
    background-color: rgb(255, 243, 209);
    position: absolute;
    right: 346px;
    color: black
}

.upgrade-viewer-content {
    display: block;
    color: black;
}

.upgrade {
    width: 64px;
    height: 64px;
    background-image: url(img/unknown-64-64.png);
    margin: 0px;
    display: none;
    cursor: pointer;
}

/* random specific stuff */
.upgradesMarker {
    margin-top: 10px;
    margin-bottom: 3px;
}

.buildingsMarker {
    margin-top: 5px;
    margin-bottom: 3px;
}

.store-heading {
    margin-bottom: 0px;
}

.leftSidePush {
    width: 320px;
}

.win {
    display: none;
    margin-top: 2px;
    margin-bottom: 6px;
}
.filter {
    background-color: black;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    display: none;
}

/* social links stuff */
.social-links {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 312px;
    height: 40px;
}
.github {
    scale: 30%;
    position: absolute;
    left: -28px;
    bottom: -28px;
}

/* universal building css */
.building-already-unlock {
    width: 324px;
    height: 64px;
    border-style: solid;
    border-color: rgb(248, 255, 198);
    border-width: 3px;
    transition: 0.3s;
    background-color: rgb(217, 215, 165);
    cursor: pointer;
}
.building-already-unlock:hover {
    border-style: solid;
    border-color: rgb(249, 255, 164);
    border-width: 3px;
}

.building-need-unlock {
    width: 324px;
    height: 64px;
    border-style: solid;
    border-color: rgb(248, 255, 198);
    border-width: 3px;
    display: none;
    transition: 0.3s;
    background-color: rgb(217, 215, 165);
    cursor: pointer;
}
.building-need-unlock:hover {
    border-style: solid;
    border-color: rgb(249, 255, 164);
    border-width: 3px;
}

.building-content {
    display: inline-block;
    position: absolute;
    width: 248px;
    height: 64px;
    text-shadow: 0px 1px 4px black;
}

.buildings-bought {
    font-size: 35px;
    margin: 0px;
    top: 12px;
    right: 10px;
    position: absolute;
    font-family: monospace;
}

.building-price {
    font-size: 22px;
    display: inline;
    line-height: 1px;
    position: absolute;
    left: 4px;
}

.building-icon {
    width: 64px;
    height: 64px;
    float: left;
}

/* building icon css */
.keyboard-icon {
    background: url(img/keyboard-icon.png);
}

.grandpa-icon {
    background: url(img/grandpa-temp.png);
}

.ranch-icon {
    background: url(img/ranch-icon.png);
}

.tv-icon {
    background: url(img/tv.png);
}

.worker-icon {
    background: url(img/worker.png);
}

.wallet-icon {
    background-image: url(img/wallet.png);
}

.church-icon {
    background-image: url(img/church.png);
}

/* Popup CSS */
.popup {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 128px;
    height: 96px;
    background-color: white;
    text-align: center;
    display: none;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popupButton {
    display: block;
}
.popup-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    margin-left: 8px;
    margin-right: 8px;
    color: black;
}
.popup-title {
    display: none;
    color: black;
    text-shadow: 0px 0px 0px white;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 17px;
}

/* middle buttons */
.left-middle-buttons {
    display: flex;
    flex-direction: column;
}
.right-middle-buttons {
    float: right;
    margin-left: auto;
}

/* Stats CSS */
.stats-popup {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 90vw;
    height: 85vh;
    background-color: white;
    text-align: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

/* Middle Text CSS */
.middle-title {
    font-size: 35px;
    font-family: monospace;
    margin-top: 12px;
    margin-bottom: 15px;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    font-weight: bold;
}

.middle-subtitle {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 6px;
    font-weight: bold;
    text-align: left;
}

.middle-text-main {
    display: none;
    color: white;
    overflow-y: auto;
    height: 86%;
}

.stats-button {
    border-style: solid;
    border-width: 2px;
    width: 110px;
    height: 50px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 2px;
    float: left;
    background-color: rgb(255, 243, 209);
}

.middle-button-name {
    margin: 0px;
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    text-shadow: 0px 1px 4px black;
}

.button-paragraph-text {
    margin-left: 9px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-paragraph-text-gray {
    margin-left: 7px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.middle-ul {
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.middle-label {
    margin-left: 9px;
}

/* changelog stuff */

.changelog-version-heading {
    text-align: left;
    font-size: 19px;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.changelog-version-text {
    margin-left: 9px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* middle button CSS */
.info-button {
    border-style: solid;
    border-width: 2px;
    width: 110px;
    height: 50px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    float: right;
    margin-left: auto;
    background-color: rgb(255, 243, 209);
}

.options-button {
    border-style: solid;
    border-width: 2px;
    width: 110px;
    height: 50px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    float: right;
    margin-left: auto;
    background-color: rgb(255, 243, 209);
}

/* Data Buttons */
.data-button {
    margin-left: 9px;
    margin-bottom: 4px;
}

.custom-button-label { /* this is just stolen from the default CSS for a button, its probably going to change to a custom one later */
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}