/* variables (mainly for colors) */
:root {
    --brown-border: rgb(121, 77, 46);
    --colored-container: rgb(255, 243, 209);
}

/* basic basis for most html elements */
body {
    margin: 0px;
    display: flex;
    overflow: hidden;
    touch-action: manipulation;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none; /* yes its a mobile thing in the desktop version but its here anyway in case mobile breaks idk */
}

h1 { /* all lines that have these no-select like properties are simply too relied on to be removed, i don't like it but i also don't have much of a choice if i value my time :shrug: */
    -webkit-user-select: none;
    user-select: none;
}
h3 {
    user-select: none;
    -webkit-user-select: none;
}
h4 {
    -webkit-user-select: none;
    user-select: none;
}
p {
    -webkit-user-select: none;
    user-select: none;
}
a {
    font-weight: bold;
    color: white;
}

img {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

small {
    user-select: none;
    -webkit-user-select: none;
    margin-left: auto;
    margin-right: auto;
}

/* helper classes */
.no-display {
    display: none;
}
.pointer {
    cursor: pointer;
}
.red {
    color: red;
}
.black {
    color: black;
}
.blue {
    color: blue;
}
.absolute {
    position: absolute;
}
.no-select { /* this contains a random list of properties that supposedly make thing not drag and stuff? It seems to work so yay? */
    user-select: none; /* General all-browser solution for this */
    -webkit-touch-callout: none; /* I think only images but I dont have an iPhone so idk */
    -webkit-user-select: none; /* Still required on Safari? */
    margin-left: auto; /* idk what on earth these do but i'm scared to remove them */
    margin-right: auto;
}
.no-margin {
    margin: 0px;
}
.shadow {
    text-shadow: 0px 1px 4px black;
}
.visible {
    opacity: 1 !important;
}

/* important things */
.leftSide {
    width: 312px;
    height: 100vh;
    border-style: solid;
    border-width: 0px 8px 0px 0px;
    border-color: var(--brown-border);
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrounds/background-blue.png);
}

.rightSide {
    width: 338px;
    float: right;
    height: 100vh;
    border-style: solid;
    border-width: 0px 0px 0px 8px;
    border-color: var(--brown-border);
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrounds/background-blue.png);
}

.middle {
    flex: auto;
    height: 100vh;
    background: url(img/backgrounds/background-blue.png);
}

.cookie {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 257px;
    height: 257px;
    animation: cookie-unhover 0.15s ease-out;
    border-radius: 128px;
}
.cookie-noanimation {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 257px;
    height: 257px;
    border-radius: 128px;
}
.cookie:hover {
    animation: cookie-hover 0.15s ease-out;
    animation-fill-mode: forwards;
}
.cookie:active {
    animation: cookie-clicked 0.2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes cookie-hover {
    from {scale: 100%;}
    to {scale: 102%;}
}
@keyframes cookie-unhover {
    to {scale: 100%;}
    from {scale: 102%;}
}
@keyframes cookie-clicked {
    0% {scale: 100%;}
    100% {scale: 98%;}
}

.cookie-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 4px black;
    text-align: center;
}

.cookies-per-second-counter {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    color: white;
    text-shadow: 0px 1px 4px black;
    text-align: center;
}

.cookie-counter-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
}

.middle-buttons {
    display: flex;
    flex: auto;
    height: 100px;
    background-image: url(img/backgrounds/background-blue.png);
    border-style: solid;
    border-color: var(--brown-border);
    border-width: 0px;
    border-bottom-width: 8px;
}

.version-number {
    position: absolute;
    left: 50px;
    top: 9.5px;
    margin: 0px;
    font-size: 20px;
    color: white;
    font-family: monospace;
    text-shadow: 0px 1px 4px black;
}

.version-switch-info {
    border-style: solid;
    border-width: 3px;
    position: absolute;
    width: 85px;
    height: 35px;
    display: none;
    bottom: 30px;
    left: 48px;
    font-size: 10px;
    background-color: var(--colored-container);
    color: black;
}


/* divs */
.buildings-wrapper {
    float: right;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* UPGRADES */
.upgrades-holder {
    position: relative;
    width: 338px;
    height: 67.6px;
    overflow: hidden;
    border: 6px solid;
    border-width: 6px 0px 6px 0px;
    border-color: var(--brown-border);
}
.upgrade {
    width: 59.6px;
    height: 59.6px;
    background-image: url(img/unknown-64-64.png);
    background-size: contain;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    border: 4px solid rgb(80, 51, 30);
}
.upgrades-holder-background {
    position: relative;
}
.upgrades-holder-background::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(img/backgrounds/background-blue.png);
    filter: brightness(0.5)
}
.upgrade-name {
    margin: 2px;
    color: black;
}
.upgrade-price{
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;
}
.upgrade-desc {
    margin: 2px;
    color: black;
}

.upgrades-bought-stats-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 3px 6px 3px;
}
.upgrade-stats {
    width: 56px;
    height: 56px;
    margin: 3px;
    background-size: 56px;
}

/* social links stuff */
.social-links {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 312px;
    height: 40px;
}
.github {
    scale: 30%;
    position: absolute;
    left: -28px;
    bottom: -28px;
}

/* universal building css */
.building {
    width: 324px;
    height: 64px;
    border-style: solid;
    border-color: rgb(248, 255, 198);
    border-width: 3px;
    transition: 0.3s;
    background-color: rgb(217, 215, 165);
    cursor: pointer;
    margin-bottom: 4px;
}
.building:hover {
    border-style: solid;
    border-color: rgb(249, 255, 164);
    border-width: 3px;
}

.building-content {
    display: inline-block;
    width: 248px;
    height: 64px;
    text-shadow: 0px 1px 4px black;
    margin-left: 4px;
}

.buildings-bought-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    float: right;
    margin-right: 10px;
}
.buildings-bought {
    font-size: 35px;
    font-family: monospace;
    float: right;
    margin: 0px
}

.building-name {
    font-size: 22px;
    line-height: 1px;
    margin-bottom: 0px;
}

.building-price {
    margin-top: 11px;
    margin-left: 0.6px;
}

.building-icon {
    width: 64px;
    height: 64px;
    float: left;
}

/* Infobox when hovering over a building */
.tooltip {
    width: 258px;
    height: 110px;
    border: solid 3px black;
    border-right: 0px;
    background-color: var(--colored-container);
    pointer-events: none; /* if it's hovered over it won't do the flickering thing */
    right: 346px;
}
.tooltip-content {
    margin-left: 3px;
}
.tooltip-name {
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.tooltip-price {
    font-size: 15px;
    right: 0px;
    top: 0px;
    margin-top: 4px;
    margin-right: 3px;
}
.tooltip-quote {
    font-size: 12px;
    margin-top: 5px;
    overflow-y: hidden;
}
.tooltip-description {
    font-size: 13px;
    margin-left: 1px;
}
.tooltip-stats {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* building icon css */
.keyboard-icon {
    background: url(img/keyboard.png);
}

.grandpa-icon {
    background: url(img/grandpa.png);
}

.ranch-icon {
    background: url(img/ranch.png);
}

.tv-icon {
    background: url(img/tv.png);
}

.worker-icon {
    background: url(img/worker.png);
}

.wallet-icon {
    background-image: url(img/wallet.png);
}

.church-icon {
    background-image: url(img/church.png);
}

/* Popup CSS */
.popup {
    display: none;
    padding: 0px; /* dialog boxes have padding by default */
    width: 128px;
    height: 96px;
    background-color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
dialog::backdrop {
    background-color: black;
    opacity: 50%;
}
.simple-popup-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    margin-left: 8px;
    margin-right: 8px;
    color: black;
}
.popup-button {
    width: min-content;
}
.simple-popup-title {
    display: none;
    color: black;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 17px;
}

/* middle buttons */
.left-middle-buttons {
    display: flex;
    flex-direction: column;
}
.right-middle-buttons {
    float: right;
    margin-left: auto;
    height: 50px;
}
.middle-button-name {
    margin: 0px;
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    text-shadow: 0px 1px 4px black;
}

/* Middle Text CSS */
.middle-main {
    display: none;
    color: white;
    overflow-y: auto;
    height: 86%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 25%), 
        linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent 25%),
        linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 25%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 25%), 
        radial-gradient(transparent 80%, rgba(4, 4, 4, 0.3)),
        url("img/dark-noise.png")
}
.middle-title {
    font-size: 35px;
    font-family: monospace;
    margin-top: 12px;
    margin-bottom: 15px;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    font-weight: bold;
    text-align: center;
}
.middle-subtitle {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 9px;
    font-weight: bold;
    text-align: left;
}
.middle-text {
    margin-left: 9px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.middle-text-gray {
    margin-left: 7px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.middle-x {
    height: 48px;
    width: 48px;
    border: 2px solid white;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.middle-ul {
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}
.middle-label {
    margin-left: 9px;
}

/* changelog stuff */
.changelog-version-heading {
    text-align: left;
    font-size: 19px;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 9px;
    -webkit-user-select: none;
    user-select: none;
}

.changelog-version-text {
    margin-left: 9px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* middle button CSS */
.middle-button-base {
    border-style: solid;
    border-width: 2px;
    width: 110px;
    height: 50px;
    margin-left: auto;
    background-color: var(--colored-container);
    color: black; /* this wasn't nessesary until 6/3/23? idk why */
}
.info-button {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    height: 48px;
    float: right;
}
.options-button {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    float: left;
}
.stats-button {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 2px;
    float: left;
}

/* Data Buttons */
.data-button {
    margin-left: 9px;
    margin-bottom: 4px;
}

.custom-button-label { /* this is just stolen & modified from the default CSS for a button */
    writing-mode: horizontal-tb !important;
    color: buttontext;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    background-color: buttonface;
    padding: 1px 6px;
    font-size: 13px;
    border-style: solid;
    border-color: gray;
    border-width: 1.2px;
    border-radius: 3px;
    height: 21.45px;
    padding-top: 2.2px;
}
.custom-button-label:hover {
    cursor: pointer;
    background-color: rgb(229,229,229);
    border-color: rgb(65,65,65);
}

/* Mods */
.mods-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mod-in-list {
    height: 35px;
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(215, 215, 215);
}
.mod-id {
    font-style: italic;
    color: gray;
}

/* random specific stuff */
.upgrades-marker {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
}

.buildings-marker {
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
}

.store-heading {
    margin: 3px;
    margin-bottom: 0px;
    font-size: 50px;
    text-align: center;
}

.leftSidePush {
    width: 320px;
}

.win {
    display: none;
    margin-top: 2px;
    margin-bottom: 6px;
    text-align: center;
}
.saving-indicator {
    position: absolute;
    bottom: 20px;
    left: 3px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: ease-out;
}