@use "_variables.scss";

.building {
    width: 96%;
    height: 64px;
    border: 3px solid rgb(248, 255, 198);
    background-color: rgb(217, 215, 165);
    cursor: pointer;

    img {
        width: 64px;
        height: 64px;
        float: left;
    }

    .building-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-shadow: variables.$shadow;
        padding-left: 4px;

        /* in an unnamed div */
        .building-name {
            font-size: 22px;
            margin: 0;
        }

        .building-price {
            margin: 0;
            margin-left: 0.6px; // todo: keep?
        }

        .buildings-bought {
            font-size: 35px;
            font-family: monospace;
            margin: 0;
            margin-right: 12px;
        }
    }
}