@use "_variables.scss";
@use "buildings.scss";
@use "upgrades.scss";
@use "tooltip.scss";
@use "popups.scss";

// non-SCSS variables that are used for anything that needs to be modified programmatically
:root {
    --dialog-backdrop-opacity: 50%; /* default value for dialog opacity if something goes wrong (and for simple popups :D) */
}

/* basic basis for most html elements */
body {
    margin: 0px;
    display: flex;
    overflow: hidden;
    touch-action: manipulation;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* does the same thing cookie clicker does by overwriting EVERY element's css so that certain defaults made for normal webpages (not games) don't get it the way (like selecting text) */
* {
    /* no selecting */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* no select for images */
    -webkit-user-drag: none;
    -webkit-touch-callout: none; /* mobile-only */
}

/* todo 0.7.1: find why these are here and how we can make their elements assigned to their own specific class instead of making every element have these properties*/
a {
    font-weight: bold;
    color: inherit;
}
ul {
    margin-top: 6px;
    margin-bottom: 6px;
}
small {
    margin-left: auto;
    margin-right: auto;
}

/* todo 0.7.1: i don't like these anymore, keep a few like pointer and no-display but remove stuff like red.  */
/* helper classes */
.no-display {
    display: none;
}
.pointer {
    cursor: pointer;
}
.red {
    color: red;
}
.black {
    color: black;
}
.blue {
    color: blue;
}
.absolute {
    position: absolute;
}
.no-select { /* this contains a random list of properties that supposedly make thing not drag and stuff? It seems to work so yay? */
    user-select: none; /* General all-browser solution for this */
    -webkit-touch-callout: none; /* I think only images but I dont have an iPhone so idk */
    -webkit-user-select: none; /* Still required on Safari? */
    margin-left: auto; /* idk what on earth these do but i'm scared to remove them */
    margin-right: auto;
}
.no-margin {
    margin: 0px;
}
.shadow {
    text-shadow: variables.$shadow;
}
.visible {
    opacity: 1 !important;
}

/* important things */
.left-side {
    min-width: 312px;
    height: 100vh;
    border-style: solid;
    border-width: 0px 8px 0px 0px;
    border-color: variables.$brown-border;
    display: flex;
    flex-direction: column;
    background-image: url(img/backgrounds/background-blue.png);

    // cookie stuff
    .cookie {
        width: 257px;
        height: 257px;
        margin: 12px auto 12px auto; /* margin left and right are set to auto so it centers */
        animation: cookie-unhover 0.15s ease-out;
        border-radius: 128px;
    }
    .cookie-noanimation {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 257px;
        height: 257px;
        border-radius: 128px;
    }
    .cookie:hover {
        animation: cookie-hover 0.15s ease-out;
        animation-fill-mode: forwards;
    }
    .cookie:active {
        animation: cookie-clicked 0.2s ease-out;
        animation-fill-mode: forwards;
    }
    @keyframes cookie-hover {
        from {scale: 100%;}
        to {scale: 102%;}
    }
    @keyframes cookie-unhover {
        to {scale: 100%;}
        from {scale: 102%;}
    }
    @keyframes cookie-clicked {
        0% {scale: 100%;}
        100% {scale: 98%;}
    }

    .cookie-counter-wrapper {
        background-color: rgba(0, 0, 0, 0.4);

        .cookie-counter {
            margin-top: 4px;
            margin-bottom: 4px;
            font-size: 18px;
            color: white;
            text-shadow: variables.$shadow;
            text-align: center;
        }

        .cookies-per-second-counter {
            margin-top: 4px;
            margin-bottom: 4px;
            font-size: 14px;
            color: white;
            text-shadow: variables.$shadow;
            text-align: center;
        }
    }

    .saving-indicator {
        position: absolute;
        bottom: 20px;
        left: 3px;
        font-size: 20px;
        opacity: 0;
        transition: opacity 0.5s;
        transition-timing-function: ease-out;
    }

    .social-links {
        position: absolute;
        left: 0px;
        bottom: 0px;
        min-width: inherit;
        height: 40px;

        img {
            scale: 30%;
            position: absolute;
            left: -28px;
            bottom: -28px;
        }

        .version-number-holder {
            position: absolute;
            left: 50px;
            top: 9.5px;
            margin: 0px;
            font-size: 18px;
            color: white;
            font-family: monospace;
            text-shadow: variables.$shadow;
        }

        .version-switch-info {
            display: none;
            position: absolute;
            bottom: 30px;
            left: 48px;
            width: 85px;
            height: 35px;
            border: 3px solid black;
            font-size: 10px;
            color: black;
            background-color: variables.$colored-container;
        }
    }
}

.middle {
    width: 100%; // takes up all remaining space between left and right sides
    height: 100vh;
    background: url(img/backgrounds/background-blue.png);

    .middle-buttons {
        display: flex;
        justify-content: space-between; // puts left on left and right on right with gap in between
        height: 100px;
        border: 0px solid variables.$brown-border;
        border-bottom-width: 8px;

        .left-middle-buttons {
            display: flex;
            flex-direction: column; // for whatever reason without this they stack in a row not on top of each other
        }

        .middle-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 50%;
            border: 2px solid black;
            margin-left: auto;
            background-color: variables.$colored-container;

            p {
                font-size: 24px;
                font-family: "Lucida Console", "Courier New", monospace;
                margin: 0;
                text-shadow: variables.$shadow;
            }
        }
        .stats-button { //? just put these three directly in HTML?
            border-left-width: 0px;
        }
        .options-button {
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
        }
        .info-button {
            border-right-width: 0px;
        }
    }

    /* Middle Text */
    .middle-main {
        display: none;
        position: relative; // right now this is only used to make the X button not push the middle text to the left, i don't think it does anything else
        overflow-y: auto; // scrollbar
        height: 86%; // this should be set programmatically but we keep it here in case of catastrophic failure
        padding: 0 8px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 25%),
            linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent 25%),
            linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 25%),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 25%),
            radial-gradient(transparent 80%, rgba(4, 4, 4, 0.3)),
            url("img/dark-noise.png");

        // todo: random margins?
        h1 {
            font-size: 2rem;
            font-family: monospace;
            margin-top: 12px;
            margin-bottom: 15px;
            text-decoration: underline;
            text-underline-offset: 0.15em;
            font-weight: bold;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 12px;
            margin-bottom: 15px;
            font-weight: bold;
            text-align: left;
        }
        h3 {
            font-size: 1.2rem;
            margin: 6px 0px 8px 0px;
            text-align: left;
            -webkit-user-select: none;
            user-select: none;
        }
        h4 {
            font-size: 1rem;
            margin-bottom: 6px;
            margin-top: 6px;
        }
        .middle-text-gray {
            margin-bottom: 6px;
            margin-top: 6px;
            color: gray;
            letter-spacing: 1px;
            font-weight: bold;
        }
        .middle-x {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: black;
            border: 2px solid white;
        }
        .data-buttons {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .reset {
                color: red;
            }
        }

        form {
            margin: 0.25rem 0
        }

        // only in Info
        .changelog {
            .note {
                font-size: 0.875em;
            }

            ul { // for changelog entries so they're smaller than their headers
                font-size: 0.875rem;
            }
        }
    }
}

.right-side {
    width: 338px;
    display: flex;
    flex-direction: column;
    border-left: 8px solid variables.$brown-border;
    background-image: url(img/backgrounds/background-blue.png);
    text-shadow: variables.$shadow;

    h1 {
        margin: 4px;
        margin-bottom: 0px;
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
    }

    .buildings-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
    }
}