.popup {
    flex-direction: column;
    align-items: center;
    width: 128px;
    height: 96px;
    padding: 0px 8px; /* copied to AdvancedPopupOptions */
    text-align: center;
    background-color: white;
    text-shadow: none;

    h1 {
        color: black;
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 1.125rem;
    }

    .simple-popup-button-wrapper { //? should we include "simple-"?
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
dialog::backdrop {
    background-color: black;
    opacity: 50%; /* base value in case of emergency */
    opacity: var(--dialog-backdrop-opacity); /* for programmatic modification */
}

/* List Mods Popup */
.mods-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mod-in-list {
    height: 35px;
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(215, 215, 215);
}